@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

svg {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

svg .state {
  stroke: #666;
  stroke-width: 1px;
}

svg .state:hover {
  stroke: #383874;
  stroke-width: 3px;
  cursor: pointer;
}

select {
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 6px;
}

.combo-select-year {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100000;
}

/* #root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
} */

button {
  width: 100px;
  border: 1px solid #ffffff;
  margin: 0 auto 5px;
}

.main-container {
  height: 100vh !important;
  width: 100% !important;
  padding-top: 0;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; */
  padding: 0 2rem 2rem;
  margin-bottom: 20px;
}

.wrapper-container {
  height: 100%;
}

/* right container map page */
.right-container,
.left-container,
.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  height: '100%';
}

.left-container__top--tags,
.left-container__top--stats,
.left-container__heading,
.prediction-input--year,
.prediction-input--area {
  width: 90%;
  margin-bottom: 1.5rem;
}

.left-container__top--stats {
  margin-bottom: 5rem;
}

.left-container__top--tags h1,
.left-container__top--stats h1 {
  font-size: 1.8rem;
}

.left-container__top--tags p,
.left-container__top--stats p {
  font-size: 1.5rem;
}

.left-container__top--stats p {
  display: flex;
  align-items: center;
}

.left-container__top--stats p .green-title {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-left: 8px;
}

.right-container__top,
.right-container__bottom {
  border-radius: 8px;
}

.right-container__top {
  margin-bottom: 1rem !important;
}

.left-container__bottom {
  margin-top: 5rem !important;
  border-radius: 8px;
}

.map-page-row {
  margin-bottom: 5rem;
}

.map-toggle-buttons {
  position: absolute;
  /* width: 30%; */
  top: 3rem;
  right: 1rem;
  z-index: 69;
}

.box-shadow-main {
  box-shadow: var(--box-shadow-main);
}

.global-card-styles {
  height: 100%;
}

.gauge-chart > div > div > table {
  display: flex !important;
  justify-content: center !important;
}

.prediction-form {
  display: flex;
  flex-direction: column;
  width: '100%';
  align-items: center;
}

.prediction-input--year,
.prediction-input--area {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.prediction-input--year label,
.prediction-input--area label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.prediction-input--year input,
.prediction-input--area input {
  padding: 0.5rem;
  width: 100%;
  font-size: 1.4rem;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: transparent;
  color: black;
}

.prediction-input--submit {
  width: 90%;
}

.prediction-input--submit button {
  padding: 0.5rem;
  width: 60%;
  font-size: 1.4rem;
  border-radius: 4px;
}

.tweet {
  width: 90%;
}

.rainfall-graph-card div div div {
  height: 100% !important;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    width: 100% !important;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .map-page-row-top {
    display: grid !important;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .map-page-row-top > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  .right-container {
    display: flex;
    flex-direction: row;
  }

  .right-container > *:not(:last-child) {
    margin-right: 2rem;
  }

  .left-col {
    grid-column: 1/2;
  }
  .mid-col {
    grid-column: 2/-1;
    width: 100%;
  }
  .right-col {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
}

@media only screen and (max-width: 900px) {
  .map-page-row-mid-1 {
    display: grid !important;
    grid-template-rows: repeat(2, 1fr);

    grid-template-columns: repeat(2, 1fr);
  }

  .map-page-row-mid-1 > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  .aqi-meter {
    grid-column: 1/2;
  }
  .land-cover-graph {
    grid-column: 2/-1;
  }
  .rainfall-graph {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }

  .rainfall-graph-card,
  .aqi-meter-card,
  .land-cover-graph-card,
  .combo-chart-card {
    width: 100% !important;
  }

  .map-row-bottom-card {
    width: 100% !important;
  }
  .map-row-bottom-left-container {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 620px) {
  .map-page-row-top {
    display: grid !important;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: repeat(1, 1fr);
  }

  .left-col {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
  .mid-col {
    grid-row: 2/3;
    grid-column: 1/-1;
    width: 100%;
  }
  .right-col {
    grid-row: 3/-1;
    grid-column: 1/-1;
  }

  .right-container {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }

  /* .right-container__bottom{

  } */

  .right-container__top,
  .right-container__bottom {
    width: 90% !important;
  }
  .right-container__top {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .map-page-row-mid-1 {
    display: grid !important;
    grid-template-rows: repeat(3, 1fr);

    grid-template-columns: repeat(1, 1fr);
  }

  .map-page-row-mid-1 > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  .aqi-meter {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .land-cover-graph {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .rainfall-graph {
    grid-row: 3/-1;
    grid-column: 1/-1;
  }

  .rainfall-graph-card,
  .aqi-meter-card,
  .land-cover-graph-card,
  .combo-chart-card {
    width: 90% !important;
  }

  .map-row-bottom-card {
    width: 100% !important;
  }
  .map-row-bottom-left-container {
    margin-right: 1rem;
  }

  /* .top-bottom-cards {
    display: flex !important;
    flex-direction: row !important;
  } */
  /* .map-page-bottom-container-1{
    display : flex;
    flex-direction: column;
  } */

  .map-page-bottom-container-1,
  .map-page-bottom-container-2 {
    margin-bottom: 2rem !important;
    width: 90%;
  }

  .map-page-bottom-row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
}
